// -----------------------------------------------
%loading {
	width: 100px;
	height: 100px;
	background-image: url('../img/loading.gif');
	background-size: contain;
	background-repeat: no-repeat;
}
%loading.gif {
	width: 100px;
	height: 100px;
	background-image: url('../img/loading.gif');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
